node_modules
**/node_modules
**/build
**/dist
**/coverage
**/src/generated

.git
.github
.env
.env.*
!.env.example

*serviceAccountKey*.json
*service-account*.json
*.pem
*.key

**/*.log
.vscode
.idea
.DS_Store
