.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
span .icon-hover:hover {
  transform: scale(1.5); /* Enlarge */
  color: #007bff; /* Change to Bootstrap primary color */
}
.icon-hover {
  transition: transform 0.2s, color 0.2s; /* Smooth transition */
}

.icon-hover:hover {
  transform: scale(1.5); /* Enlarge */
  color: #007bff; /* Change to Bootstrap primary color */
}
